body {
	background-color: rgb(176, 190, 194);
}

h1 {
<<<<<<< HEAD
	color: rgb(255, 0, 0);

	color: rgb(0, 0, 0);
>>>>>>> feature/product-cart
	text-align: center;
}

p {
	font-family: Verdana;
	font-size: 20px;
}
